<h1>Pineapple health solutions</h1>
<p>The Pineapple insulin pump is a pump that makes life for diabetes patient a lot easier. The pump works for both types of diabetes. The pump provides clear insight into bloodsugar data for both the patient and doctor. Using a dynamic statistics platform, the patient can be informed when its blood sugar levels are off. When this is the case, the pump automatically keeps the blood sugar levels on the right levels.</p>
<%= link_to 'Apply now!', new_user_registration_path, class: 'button' %><br>
<%= image_tag 'pineapple_homepage.png', size: '500x250' %>
