<h1>Measurements database</h1>
<table>
  <thead>
    <tr>
      <td>Bloodsugar value</td>
      <td>Measured at</td>
    </tr>
  </thead>
  <tbody>
    <% @blood_sugars.each do |bs| %>
      <tr>
        <td><%= bs.level %></td>
        <td><%= bs.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
